@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  font-family: "Manrope", ui-sans-serif, system-ui;
  transition: background-color 0.5s ease, color 0.5s ease;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-slide-fade-in {
  animation: slideFadeIn 0.3s ease-out;
}

.animate-fade-out {
  animation: fadeOut 0.2s ease-in forwards;
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-down {
  animation: fade-slide-down 0.4s ease-out;
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

@layer utilities {
  .animate-fade-in-up {
    @apply opacity-0 translate-y-4 animate-fade-in-up-active;
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(16px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up-active {
    animation: fade-in-up 0.6s ease-out forwards;
  }
}